{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome to DeepKevin {% endblock %}</h1>
<form action="/" method="post">
    <label for="temp">Enter Temprature:</label>
    <input type="number" name="temp" value={{ temp }} required>
    <br>
    <label for="length">Enter Length Between 0-200:</label>
    <input type="range" min="0" max="200" name="length" value={{ length }} required>
    <br>
    <label for="words">Enter Starting Words:</label>
    <input type="text" name="words" value={{ words }}>
    <br>
    <input type="submit" value="Submit">
</form>
<h2>{{ text }}</h2>
{% endblock %}